Repository hmcts/lau-frontend, pull requests merged in 2022-02, with the labels that each got.

#19 Lau 264 reenable fortify
  audit.json
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-19

#18 LAU-267 LaunchDarkly Implementation
  .gitignore
  charts/lau-frontend/Chart.yaml
  charts/lau-frontend/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  config/development.yaml
  config/test.yaml
  package.json
  src/main/app.ts
  src/main/components/featureToggle/LaunchDarklyClient.ts
  src/main/components/idam/ServiceAuthToken.ts
  src/main/modules/properties-volume/index.ts
  src/main/oauth2/access-token-request.ts
  src/main/routes/home.ts
  src/main/service/AuthService.ts
  src/test/unit/components/LaunchDarklyClient.test.ts
  src/test/unit/service/AuthService.test.ts
  yarn.lock
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-18

#20 VUL-4193 Yarn Audit Issues
  .stylelintrc.json
  package.json
  src/main/assets/scss/flatpickr.scss
  src/main/assets/scss/loading-spinner.scss
  src/main/assets/scss/main.scss
  yarn.lock
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-20

#25 Update nodejs dependency to 2.4.0
  charts/lau-frontend/Chart.yaml
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-25

#22 LAU-281 Update Healthcheck and include version file
  .dockerignore
  .gitignore
  Dockerfile
  charts/lau-frontend/Chart.yaml
  charts/lau-frontend/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  config/development.yaml
  config/test.yaml
  createVersionFile.js
  docker-compose.yml
  package.json
  src/main/app.ts
  src/main/modules/health/index.ts
  src/main/modules/oidc/index.ts
  src/main/modules/properties-volume/index.ts
  src/main/modules/session/index.ts
  src/main/service/AuthService.ts
  src/main/service/BaseService.ts
  src/main/service/CaseService.ts
  src/main/service/LogonService.ts
  src/test/service-stubs/lau-case-backend.js
  src/test/service-stubs/lau-idam-backend.js
  src/test/unit/service/AuthService.test.ts
  src/test/unit/service/CaseService.test.ts
  src/test/unit/service/LogonService.test.ts
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-22

#17 LAU-262 Client side CSV processing
  charts/lau-frontend/values.preview.template.yaml
  src/main/assets/js/home.ts
  src/main/controllers/CaseActivity.controller.ts
  src/main/controllers/CaseSearches.controller.ts
  src/main/controllers/Logon.controller.ts
  src/main/service/BaseService.ts
  src/main/service/CaseService.ts
  src/main/service/LogonService.ts
  src/main/util/CsvHandler.ts
  src/test/unit/utils/csvHandler.test.ts
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-17

#29 LAU-286 Prevent changes to search params for CSV do not persist in session
  src/main/service/CaseService.ts
  src/main/service/LogonService.ts
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-29

#30 LAU-289 Replace exec-sync with package
  Dockerfile
  createVersionFile.js
  package.json
  yarn.lock
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-30
