Repository hmcts/lau-frontend, pull requests merged in 2022-07, with the labels that each got.

#66 LAU-406 dependency check fix
  charts/lau-frontend/Chart.yaml
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-66

#72 Upgrade chart nodejs version
  charts/lau-frontend/Chart.yaml
  package.json
  yarn.lock
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-72

#70 LAU-403 Add aria state property
  src/main/views/common/template.njk
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-70

#71 LAU-456 Remove old feature toggles
  package.json
  src/main/assets/js/cookie-v1.ts
  src/main/assets/js/cookie.ts
  src/main/assets/scss/main.scss
  src/main/index.ts
  src/main/modules/nunjucks/index.ts
  src/main/routes/home.ts
  src/main/views/common/template.njk
  src/main/views/common/webpack/css-template.njk
  src/main/views/common/webpack/css.njk
  src/main/views/cookies/template.njk
  yarn.lock
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-71
