Repository hmcts/lau-frontend, pull requests merged in 2024-04, with the labels that each got.

#586 LAU-854 fix console logged errors
  src/main/modules/helmet/index.ts
  src/main/modules/oidc/index.ts
  webpack/govukFrontend.js
Labels: ns:lau, prd:lau, enable_keep_helm, rel:lau-frontend-pr-586

#603 bump tar
  package.json
  yarn.lock
Labels: ns:lau, prd:lau, enable_keep_helm, rel:lau-frontend-pr-603

#626 global LD mock for all jest tests
  .gitignore
  eslint.config.mjs
  jest.config.js
  jest.setup.js
  src/test/unit/components/LaunchDarklyClient.test.ts
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-626
