Repository hmcts/lau-frontend, pull requests merged in 2024-07, with the labels that each got.

#692 LAU-896 Add page titles
  src/main/views/case-audit/template.njk
  src/main/views/case-deletions/template.njk
  src/main/views/logons/template.njk
  src/main/views/user-deletions/template.njk
Labels: ns:lau, prd:lau, keep-helm, rel:lau-frontend-pr-692

#691 LAU-907 interim accessibility statement
  src/main/views/footer/accessibility-statement/content.ts
  src/main/views/footer/accessibility-statement/template.njk
Labels: ns:lau, prd:lau, enable_keep_helm, aat/add-or-update, prod/no-changes, rel:lau-frontend-pr-691

#695 ignore 10112 session management response warnings
  audit.json
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-695

#696 LAU-897 Add Date hints.
  src/main/views/case-audit/template.njk
  src/main/views/case-deletions/template.njk
  src/main/views/common/macros/lauDateTimeInput.njk
  src/main/views/logons/template.njk
  src/main/views/user-deletions/template.njk
Labels: ns:lau, prd:lau, keep-helm, rel:lau-frontend-pr-696

#701 Lau 895 keyboard support for timestamp
  package.json
  src/main/assets/js/flatpickr.ts
  src/main/assets/scss/flatpickr.scss
  src/main/assets/scss/main.scss
  src/main/index.ts
  src/main/modules/oidc/index.ts
  src/main/util/Date.ts
  src/main/views/common/macros/lauDateTimeInput.njk
  src/main/views/common/template.njk
  src/main/views/common/webpack/css-template.njk
  src/main/views/common/webpack/css.njk
  src/test/end-to-end/helpers/PuppeteerHelper.js
  src/test/end-to-end/pages/lauHomePage/caseAuditSearch.js
  src/test/end-to-end/pages/lauHomePage/caseSearch.js
  src/test/end-to-end/pages/lauHomePage/deletedUsersSearch.js
  src/test/end-to-end/pages/lauHomePage/logonAuditSearch.js
  src/test/unit/controllers/case-activity.test.ts
  src/test/unit/controllers/case-deletions-search.test.ts
  src/test/unit/controllers/case-search.test.ts
  src/test/unit/controllers/deleted-users-search.tests.ts
  src/test/unit/controllers/deleted-users.test.ts
  src/test/unit/controllers/logon-search.test.ts
  src/test/unit/controllers/logon.test.ts
  src/test/unit/utils/validator.test.ts
  webpack.config.js
  webpack/flatpickr.js
  yarn.lock
Labels: ns:lau, prd:lau, enable_keep_helm, aat/add-or-update, prod/no-changes, rel:lau-frontend-pr-701

#707 Upgrading charts version
  charts/lau-frontend/Chart.yaml
  package.json
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-707

#711 Change redirect url for staging and aat
  charts/lau-frontend/values.aat.template.yaml
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-711

#712 Run FTs against staging env
  Jenkinsfile_CNP
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-712

#705 LAU-898 email validation
  package.json
  src/main/controllers/DeletedUsersSearch.controller.ts
  src/main/controllers/LogonSearch.controller.ts
  src/main/routes/home.ts
  src/main/util/Date.ts
  src/main/util/validators.ts
  src/main/views/common/macros/lauDateTimeInput.njk
  src/main/views/logons/template.njk
  src/main/views/user-deletions/template.njk
  src/test/unit/controllers/case-search.test.ts
  src/test/unit/controllers/deleted-users-search.tests.ts
  src/test/unit/controllers/logon-search.test.ts
  yarn.lock
Labels: ns:lau, prd:lau, enable_keep_helm, aat/add-or-update, prod/no-changes, rel:lau-frontend-pr-705

#717 Revert "Update dependency sass-loader to v16 (#714)"
  package.json
  yarn.lock
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-717

#716 Fix email layout
  src/main/views/logons/template.njk
  src/main/views/user-deletions/template.njk
Labels: ns:lau, prd:lau, enable_keep_helm, rel:lau-frontend-pr-716

#719 Fix date validation
  src/main/util/Date.ts
  src/test/unit/controllers/case-search.test.ts
  src/test/unit/controllers/deleted-users-search.tests.ts
  src/test/unit/controllers/logon-search.test.ts
Labels: ns:lau, prd:lau, enable_keep_helm, rel:lau-frontend-pr-719

#688 LAU-484 add autoselect field for jurisdictions and case types
  charts/lau-frontend/Chart.yaml
  charts/lau-frontend/values.aat.template.yaml
  charts/lau-frontend/values.preview.template.yaml
  charts/lau-frontend/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  config/development.yaml
  config/production.yaml
  eslint.config.mjs
  package.json
  src/main/app.ts
  src/main/assets/js/accessible-autocomplete.ts
  src/main/assets/js/flatpickr.ts
  src/main/assets/scss/main.scss
  src/main/index.ts
  src/main/models/AppError.ts
  src/main/modules/autosuggest/AutoSuggest.ts
  src/main/modules/autosuggest/AutoSuggestService.ts
  src/main/modules/awilix/index.ts
  src/main/modules/oidc/index.ts
  src/main/resources/data/auto-suggest-data-dev.json
  src/main/resources/data/auto-suggest-data-prod.json
  src/main/routes/home.ts
  src/main/server.ts
  src/main/service/AuthService.ts
  src/main/service/BaseService.ts
  src/main/service/CaseTypeJurisdictionAutoSuggest.ts
  src/main/types/@hmcts/nodejs-logging.d.ts
  src/main/types/accessible-autocomplete.d.ts
  src/main/views/case-audit/template.njk
  src/test/end-to-end/pages/lauHomePage/caseAuditSearch.js
  src/test/end-to-end/pages/lauHomePage/caseAuditSearchWithoutSearchData.js
  src/test/unit/service/AuthService.test.ts
  src/test/unit/service/AutoSuggestService.test.ts
  src/test/unit/service/CaseService.test.ts
  tsconfig.json
  yarn.lock
Labels: ns:lau, prd:lau, enable_keep_helm, aat/add-or-update, prod/no-changes, rel:lau-frontend-pr-688

#722 Fix is_dev in the charts
  charts/lau-frontend/Chart.yaml
  charts/lau-frontend/values.aat.template.yaml
  charts/lau-frontend/values.preview.template.yaml
  charts/lau-frontend/values.yaml
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-722

#723 added logger to output autosuggest file being used
  src/main/service/CaseTypeJurisdictionAutoSuggest.ts
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-723

#727 migrate yarn 3v to 4v
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.4.cjs
  .yarn/releases/yarn-3.8.3.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-727
