Repository hmcts/lau-frontend, pull requests merged in 2025-06, with the labels that each got.

#980 Fix Pagination Links Lack Context
  src/main/views/common/macros/paging.njk
  src/test/end-to-end/paths/challengedSpecificAccessPage.js
  src/test/end-to-end/paths/deletedUserPage.js
  src/test/end-to-end/paths/homePageLau.js
  src/test/end-to-end/paths/logonPage.js
Labels: ns:lau, prd:lau, keep-helm, enable_keep_helm, rel:lau-frontend-pr-980

#981 Update error message link to point to first available search field
  src/main/views/case-audit/template.njk
  src/main/views/case-challenged-access/template.njk
  src/main/views/case-deletions/template.njk
  src/main/views/common/error/summary.njk
  src/main/views/logons/template.njk
  src/main/views/user-deletions/template.njk
  src/test/end-to-end/pages/lauHomePage/caseChallengedAccessSearch.js
Labels: ns:lau, prd:lau, keep-helm, enable_keep_helm, rel:lau-frontend-pr-981

#985 Fix LAU brace-expansion vunerainility
  package.json
  yarn.lock
Labels: ns:lau, prd:lau, rel:lau-frontend-pr-985
